name: Deploy React Frontend

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: SSH to Server and pull source
        uses: appleboy/ssh-action@v0.1.10
        with:
          host: ${{ secrets.SERVER_IP }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SERVER_SSH_KEY }}
          script: |
            cd /home/projects/react-fiduciaire-premier
            git pull origin main
            docker-compose stop react-fiduciaire-premier
            docker-compose rm -f react-fiduciaire-premier
            docker-compose build react-fiduciaire-premier
            docker-compose up -d react-fiduciaire-premier
            # Hoặc lệnh restart nginx, pm2, docker nếu cần